<!DOCTYPE html>
<html>
	<head>
		<title>Lights</title>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/rfoutlet.js"></script>

		<link rel="stylesheet" type="text/css" href="css/rfoutlet.css">
		<link rel="stylesheet" type="text/css" href="css/modal.css">
		<link rel="icon" type="image/png" href="favicon.png">
		[…]
	</head>
	<body>
		<!--
		<input id="secret" type="password" name="fname" placeholder="Secret code">
		<span id="show" class="hide-show">Show</span>
		<button id="show">Show</button>
		-->

		<header>Lights</header>
		<p>
		<div class="container">
			<form class="form">
				<input id="secret" type="password" name="secret code" placeholder="Secret code" />
				<button id="show" type="button">Show</button>
			</form>
		</div>
		<p>
		<!-- gear &#9881; -->
		<nav>
			<table id="outlets" class="table">
				<tr>
					<th></th>
					<th>Location</th>
					<th></th>
					<th></th>
				</tr>
				<% names.each_pair do |outlet,name| %>
					<tr>
						<td><button class="button_on"  data-outlet="<%= outlet %>"> On </button></td>
						<td id="<%= outlet %>"><%= name %></td>
						<td><button class="button_off" data-outlet="<%= outlet %>">Off </button></td>
						<td><button class="button_hamburger" data-outlet="<%= outlet %>">&#9200;</button></td>
					</tr>
				<% end %>
				<tr>
					<td><button class="button_on"  data-outlet="a"> On </button></td>
					<td>All</td>
					<td><button class="button_off" data-outlet="a">Off </button></td>
					<td><button class="button_hamburger" data-outlet="a" disabled>&#9200;</button></td>
				</tr>
			</table>
		</nav>
		<p>
		<footer>Copyright &copy; 2017, One Guy Coding</footer>
		<p>
		<div id="output">

		</div>

		<!-- The Modal -->
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-title">
					<span id="modal-title-text">Outlet configuration</span>
					<span class="check">&#x2713;</span>
					<span class="close">&times;</span>
				</div>
				<form>
					<fieldset>
						<legend>Outlet options</legend>
						<label for="outlet">Outlet</label>
							<input id="outlet" type="text" disabled></input></br>
						<label for="name">Name</label>
							<input id="name" type="text"></input><br>
							<input id="code" type="text" hidden></input>
						<label for="code_on">On code</label>
							<input id="code_on" type="text" disabled></input><br>
						<label for="code_off">Off code</label>
							<input id="code_off" type="text" disabled></input>
					</fieldset>

					<fieldset>
						<legend>Sunrise</legend>
						<label for="sunrise">Random seconds</label><input id="sunrise" type="checkbox"><br>
						<label for="sunrise_range_before">before</label><input id="sunrise_range_before" type="number"><br>
						<label for="sunrise_range_after">after</label><input id="sunrise_range_after" type="number">
					</fieldset>
					<fieldset>
						<legend>Sunset</legend>
						<label for="sunset">Random seconds</label><input id="sunset" type="checkbox"><br>
						<label for="sunset_range_before">before</label><input id="sunset_range_before" type="number"><br>
						<label for="sunset_range_after">after</label><input id="sunset_range_after" type="number">
					</fieldset>
				</form>
			</div>

		</div>
	</body>
</html>
